*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header img{
    width: 100%;
    height: 100px;
    object-fit: fill;
}

.pesquisa{
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 10px;
    width: 100%;
}

.pesquisa input{
    font-size: 10px;
    width: 60%;
    color: #2f67ac;
    padding: 10px;
    border: 1px solid #2f67ac;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.pesquisa button{
    font-size: 8px;
    border: none;
    padding: 10px;
    background: #f7c505;
    color: #2f67ac;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
    transition: 1s;
}

.card{
    display: block;
    text-align: center;
    width: 50%;
    height: 200px;
    background: #f7c505;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.card img{
   background: #fff;
   margin: 0 auto;
   padding: 10px;
   border-radius: 50%;
}

.card p{
   margin-top: 10px;
   font-size: 20px;
}